html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='USER GROUP')
    meta(name='description', content='Description')
    meta(name='og:title', content=typeof(title) !== 'User Group' ? title : "User Group")
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title User Group
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    include partials/nav.pug
    section#content-wrapper
      #content  
        div.tabcontent#about-page
          p User Group is a worker-owned cooperative run by a committed group of scientists, engineers, IT specialists, economists, and designers. Our combined expertise enables the delivery of a range of professional services regarding complex geospatial data collection and their utilization, as well as the integration of enhanced geospatial data capabilities and platforms into existing institutional  structures and operational frameworks. 

        div.tabcontent#philosophy-page
          p As an independent cooperative, our aim is to take on challenging,
            | urgent projects with clients who understand that collaboration is a
            | critical aspect of software and IT development.
          
          p We believe that technological transformations afford organizations
            | the chance to re-think procedures, policies, and objectives; we
            | have developed a co-research methodology that helps us find
            | the best ways to work with organizations as they upgrade their
            | technical systems.
            
          p Whether we are working with NGOs or government agencies,
            | public or private institutions, or any of our various clients from
            | arts organizations to technology watchdog groups to international
            | programs, we believe that the best technical products, platforms,
            | and projects are guided by a close collaborative methodology that
            | allows for a dynamic design process and the multi-step reasoning 
        div.tabcontent#services-page
          p Our team provides a range of expertise and services, including:
          ul 
            li Geospatial Data Collection
            li Geospatial Platform Development
            li Crowdsourcing Platform Development
            li Location-based Alerts & Services
            li Critical Asset Surveys 
            li Institutional Anthropology
            li Economic Assessments
            li Technical Performance Evaluations
            li Technical Assistance & Recommendations
