
@font-face {
  font-family: 'Apercu-Regular';
  src: url('Apercu-Regular.eot?#iefix') format('embedded-opentype'),  url('Apercu-Regular.otf')  format('opentype'),
	     url('Apercu-Regular.woff') format('woff'), url('Apercu-Regular.ttf')  format('truetype'), url('Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
