
@font-face {
  font-family: 'Apercu-Medium';
  src: url('Apercu-Medium.eot?#iefix') format('embedded-opentype'),  url('Apercu-Medium.otf')  format('opentype'),
	     url('Apercu-Medium.woff') format('woff'), url('Apercu-Medium.ttf')  format('truetype'), url('Apercu-Medium.svg#Apercu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
