

 /* refactor to modal.css */
#address{
  right: -3em;
  top: 145px;
  position: absolute;
}
#contact-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: 114px 60px;
    max-width: 600px; /* Full width */
    width: 80vw;
    height: 70vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: #fff;
    color: #000;
}

#close-modal{
  color: #707070;
  float: right;
  font-size: 30px;
  line-height: 15px;
  top: -13px;
  right: -13px;
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px; 
}
#contact-modal{
  padding: 30px;
  border: 1px solid #ccc;
}
#contact-modal p{
  margin-top: 0;
  max-width: 70%;
}

#contact-modal p.block{
  white-space: pre;
}
label{
  text-transform: uppercase;
  margin: 0;
}
input{
  border: none;
  border-bottom: #707070 1px solid;
  width: 100%;
  height: 30px;
  padding-left: 2em;
  margin-bottom: 25px;
}

input[type='submit']{
  border: none;
  bottom: 0;
  text-transform: uppercase;
  width: inherit;
  cursor: pointer;
}
input#send{
    background: url('/icons/paperplane.svg') no-repeat top left;
    width: 4em;
    height: 3em;
    background-size: cover;
}

.error-message{
  color: #FF2700;
  display: none;
}
form .marker{
  position: absolute;
  margin-top: 8px;
  z-index: 10;
}
textarea{
  border: none;
  width: 100%;
  padding: 0;
  padding-left: 3em;
  position: relative;
  left: -10px;
}

textarea{
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #000 30px, #000 31px, white 31px);
  line-height: 31px;
}
