@import url('skeleton/skeleton.css');
@import url('typography.css');
@import url('grid.css');
/* @import url('skeleton/normalize.css'); */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
}


body.inverse{
  color: #fff
}
#about-page {
  /* background-color: red; */
}
#philosophy-page {
  /* background-color: green; */
}
#services-page {
  /* background-color: blue; */
}
.main-text{
  background: rgba(0,0,0,.65);
  color: white;
  padding: 30px;
}
.main-text, .main-text p{
  margin-top: 0;
}
.logo-wrapper{
  margin-left: 60px;
}

.logo-wrapper .tagline{
  margin-top: 0;
}
.marker{
  width: 15px;
  height: 15px;
  background: #00FF23;
  border-radius: 8px;
}

span.marker{
  margin-top: 22px;
  display: block;
}
.carousel-image img{
  left: 0;
  position: absolute;
  z-index: -1000;
  top: 0;
  max-width: 100%;
  min-height: 89vh;
  object-fit: cover;

}
.carousel-image caption{
  position: absolute;
  color: #000;
  margin-left: 30px;
  bottom: 60px;
  width: -webkit-fill-available;
  text-align: right;
  margin-right: 30px;
  padding-bottom: 15px;
}

ul.services{
}

ul.services li{
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  position: relative;
}


.services .subheader{
  cursor: pointer;
}
.services .content{
  display: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  max-width: 95%;
}
.services .marker{
  /* opacity: 0; */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #505050;
}

.tinted{
  background: #00FF23 !important;
}
.service-images{
  top:0;
  left: 0;
  position: fixed !important;
  /* height: 100vh; */
  opacity: 0;
  /* display: none; */
  -webkit-transition: opacity .8s ease-in;
  -moz-transition: opacity .8s ease-in;
  -o-transition: opacity .8s ease-in;
  -ms-transition: opacity .8s ease-in;
  transition: opacity .8s ease-in;
}
.visible{
  opacity: 1 !important;
}

.stay{
  position: fixed !important;
  height: 100%;
}

#service-carousel{
  z-index: -1000;
}

#service-carousel img{

}

#philosophy-page .main-text{
  display: block;
  margin: auto;
}
.methodologies{
  position: relative;
}
ul.sub-nav{
  /* position: fixed; */
  top: 0;
  margin-top: 4em;
}
.sub-nav a{
  text-decoration: none;
  color: #000;
}
footer {
  margin: 0 30px 0 60px;
  color: #000;
  padding: 15px 30px;
  border-top: 2px solid #000;
  width: 100%;
}

ul.methodology{
  color: #000;
  list-style: none;
}


@media (min-width: 320px) and (max-width: 767px){
  .main-text{
    margin: 0 auto;
    padding: 15px;
  }

  .carousel-image img{
    top: 0;
    min-height: 400px;
    position: relative;

  }
  .carousel-image caption{
    bottom: auto;
    margin: 0px;
    position: relative;
    width: 100vw;
    padding: 5px;
  }
  span.marker{
    margin-top: 15px;
  }
  ul.services li{
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    color: #000; 
  }

  .hero{
    width: 100%;
  }
  #service-carousel{
    display: none;
  }
}
