@font-face {
  font-family: 'Apercu-Bold';
    src: url('../fonts/Apercu-Bold/Apercu-Bold/Apercu-Bold.eot');
    src: url('../fonts/Apercu-Bold/Apercu-Bold/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Apercu-Bold/Apercu-Bold.woff') format('woff'),
        url('../fonts/Apercu-Bold/Apercu-Bold.ttf')  format('truetype'),
        url('../fonts/Apercu-Bold/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Regular';
    src: url('../fonts/Apercu-Regular/Apercu-Regular.eot');
     src:  url('../fonts/Apercu-Regular/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Apercu-Regular/Apercu-Regular.woff') format('woff'),
        url('../fonts/Apercu-Regular/Apercu-Regular.ttf')  format('truetype'),
        url('../fonts/Apercu-Regular/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Light';
    src: url('../fonts/Apercu-Light/Apercu-Light.eot');
     src:  url('../fonts/Apercu-Light/Apercu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Apercu-Light/Apercu-Light.woff') format('woff'),
        url('../fonts/Apercu-Light/Apercu-Light.ttf')  format('truetype'),
        url('../fonts/Apercu-Light/Apercu-Light.svg#Apercu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Medium';
    src: url('../fonts/Apercu-Medium/Apercu-Medium.eot');
     src:  url('../fonts/Apercu-Medium/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Apercu-Medium/Apercu-Medium.woff') format('woff'),
        url('../fonts/Apercu-Medium/Apercu-Medium.ttf')  format('truetype'),
        url('../fonts/Apercu-Medium/Apercu-Medium.svg#Apercu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseWorks-Bold';
      src:  url('../fonts/SuisseWorks-Bold/SuisseWorks-Bold.eot');
     src:  url('../fonts/SuisseWorks-Bold/SuisseWorks-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-Bold/SuisseWorks-Bold.woff') format('woff'),
        url('../fonts/SuisseWorks-Bold/SuisseWorks-Bold.ttf')  format('truetype'),
        url('../fonts/SuisseWorks-Bold/SuisseWorks-Bold.svg#SuisseWorks-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.logo{
  font-family: 'SuisseWorks-Bold';
  font-size: 88px;
  line-height: 100px;
  margin: 0;
  letter-spacing: -1px;

}

.mobile .logo{
  letter-spacing: -3px;
  font-size: 60px;
  line-height: 0px;
  z-index: 20;
  position: absolute;
  top: 45px;

}

.small-logo{
  font-family: 'SuisseWorks-Bold';
  font-size: 40px;
}

body.inverse{
    font-family: 'Apercu-Light' !important;
}
.tagline{
  font-family: 'Apercu-Regular';
  font-size: 12px;
  line-height: 17px;
}

.title, .menu-item{
  font-family: 'Apercu-Medium';
  font-size: 12px;
  text-transform: uppercase;
  line-height: initial;
}

/* header */
header{
  font-family: 'Apercu-Regular';
  font-size: 18px;
  line-height: 23px;
}

/* subheader */
.subheader{
  font-family: 'Apercu-Regular';
  font-size: 18px;
  line-height: 23px;
}

body{
  font-family: 'Apercu-Regular';
  font-size: 18px;
  line-height: 23px;
}

@media (min-width: 320px) and (max-width: 767px){
  body{
    font-family: 'Apercu-Regular';
    font-size: 15px;
    line-height: 20px;
  }

}

p{
    font-family: 'Apercu-Regular';
    font-size: 15px;
    line-height: 20px;
}
p.block{
  font-family: 'Apercu-Regular';
  font-size: 12px;
  line-height: 17px;
}
.main-text p{
    font-family: 'Apercu-Light';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .5px;

}
caption, footer, .error-message{
  font-family: 'Apercu-Regular';
  font-size: 12px;
  line-height: 17px;
}
