.logo{
  font-family: 'SuisseWorks-Bold';
  font-size: 88px;
  line-height: 114px;
  margin: 0;
}

.small-logo{
  font-family: 'SuisseWorks-Bold';
  font-size: 40px;
}

.tagline{
  font-family: 'Apercu-Regular';
  font-size: 15px;
  line-height: 20px;
}

.menu-item{
  font-family: 'Apercu-Bold';
  font-size: 15px;
  text-transform: uppercase;
  line-height: initial;
}

/* header */
header{
  font-family: 'Apercu-Regular';
  font-size: 24px;
  line-height: 29px;
}

/* subheader */
.subheader{
  font-family: 'Apercu-Regular';
  font-size: 21px;
  line-height: 26px;
}

body{
  font-family: 'Apercu-Regular';
  font-size: 18px;
  line-height: 23px;
}

caption, footer, .error-message{
  font-family: 'Apercu-Regular';
  font-size: 12px;
  line-height: 17px;
}



@font-face {
  font-family: 'Apercu-Bold';
  src: url('/fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),  url('Apercu-Bold.otf')  format('opentype'),
	     url('/fonts/Apercu-Bold.woff') format('woff'), url('/fonts/Apercu-Bold.ttf')  format('truetype'), url('/fonts/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Regular';
  src: url('/fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/Apercu-Regular.otf')  format('opentype'),
	     url('/fonts/Apercu-Regular.woff') format('woff'), url('/fonts/Apercu-Regular.ttf')  format('truetype'), url('/fonts/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SuisseWorks-Bold';
  src: url('/fonts/SuisseWorks-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/SuisseWorks-Bold.otf')  format('opentype'),
	     url('/fonts/SuisseWorks-Bold.woff') format('woff'), url('/fonts/SuisseWorks-Bold.ttf')  format('truetype'), url('/fonts/SuisseWorks-Bold.svg#SuisseWorks-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
