section#contact-modal
  span#close-modal &times;
  p User Group is a worker-owned cooperative run by a committed group of scientists, engineers, IT specialists, economists, and designers.
  p Get in touch!
  .one-half.column 
    label name
    input(type="text")
    label email address 
    input(type="text")
    label subject 
    input(type="text")
    label message 
    input(type="text")
  .one-half.column
    .menu-item ADDRESS
    p.block
      |info@usergroupcoop.com
      | 71-75 Shelton Street
      | Covent Garden
      | WC2H 9JQ
      | London, UK
script(type='text/javascript', src='/scripts/contact.js')
