header.logo-wrapper.desktop 
  h1.flat-link.logo
    a(href="/") user group
  p.tagline Urban Systems & Environments 
    br
    | Research Group
header.logo-wrapper.mobile 
  h1.flat-link.logo
    a(href="/") ug
