link(href='/styles/nav.css', rel='stylesheet')
//- link(href='/styles/mobile/nav.css', rel='stylesheet')

//- a(href='/' data-ajax="false")
h1#home.logo user group
p.tagline Urban Systems & Environments 
  br
  | Research Group

nav
  div.tab-container
    button.tablink.menu-item#defaultOpen(data-value="about") ABOUT
  div.tab-container
    button.tablink.menu-item(data-value="philosophy") PHILOSOPHY
  div.tab-container
    button.tablink.menu-item(data-value="services") SERVICES
  div.tab-container
    button.tablink.menu-item(data-value="contact") CONTACT

script(type='text/javascript', src='/scripts/nav.js')
